<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onSubmit(formulario)" #formulario="ngForm">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label
          ><input type="text" id="name" required name="name" ngModel class="form-control" />
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <input
            type="number"
            name="amount"
            id="amount"
            ngModel
            required
            min="0"
            class="form-control"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-success" [disabled]="formulario.invalid">{{editMode ? 'Update' : 'Add'}}</button>
          <button type="button" class="btn btn-danger" *ngIf="editMode" (click)="onDeleteItem()">Delete</button>
          <button type="button" class="btn btn-primary"  (click)="reset(formulario)">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
